@import 'variables.scss';

@mixin gradient-bg($gradient: linear-gradient, $deg: 0deg) {
  $gradient: $gradient + '('+ (
      $deg,
      $lilac,
      $l-blue,
      $blue,
      $lightblue,
      $green1,
      $green2,
      $blue,
      $l-blue,
      $lilac,
      $pink2,
      $pink,
      $coral
    ) + ')';
  background-image: $gradient;
}

@mixin reflect($opacity: 0.15) {
  $gradient: linear-gradient + '('+ (transparent, rgba($black, $opacity)) +')';
  -webkit-box-reflect: below 1px $gradient;
}

@mixin backdrop-bg() {
  backdrop-filter: blur(5px);
  border: 2px solid;
  border-top-color: rgba($lilac, 0.15);
  border-left-color: rgba($blue, 0.15);
  border-bottom-color: rgba($blue, 0.05);
  border-right-color: transparent;
}
