$white: rgb(255, 243, 255);
$black: rgb(1, 0, 1);
$dark: rgb(23, 23, 26);
$dark-grey: rgba(40, 40, 43);

$pink: rgb(246, 179, 251);
$pink2: rgb(224, 114, 190);
$coral: rgb(235, 132, 148);
$lilac: rgb(149, 150, 247);
$l-blue: rgb(85, 127, 255);
$blue: rgb(64, 156, 255);
$lightblue: rgb(23, 186, 255);
$green1: rgb(72, 173, 156);
$green2: rgb(8, 166, 101);
$d-blue: rgb(1, 53, 136);

$primary: $l-blue;
$secondary: $d-blue;

$transition: all 0.35s ease-in-out;

$body-font: 'JetBrains', mono;
$display-font: 'Gerbil', display;
