/*
* Bootstrap Portfolio
*
*/

@import 'var/variables.scss';
@import 'var/mixins.scss';

/* General */
body {
  color: $white;
  background: $black;
  font-family: $body-font;

  // Modal opening add weird padding
  &.modal-open,
  &.modal-open nav {
    overflow: auto !important;
    padding-right: 0 !important;
  }
}

.accent-font {
  font-family: $display-font;
}

main .container-fluid {
  max-width: 1920px;
}

/* https://css-tricks.com/keyboard-only-focus-styles/ */
.btn-cta:focus-visible,
.navbar-toggler:focus-visible {
  outline: 1px solid $white !important;
}

/*===================== 
* NAV
=====================*/
nav {
  transform: 0;
  transition: $transition;

  &.is-up {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.nav-item a,
.navbar-toggler span {
  color: $primary;
  letter-spacing: 5px;
}

.nav-link {
  &.active,
  &:hover,
  &:focus,
  &:active {
    color: $white !important;
  }
}

.navbar {
  &-brand {
    padding-left: 0.75rem; /* to align it with the .big-text-left */

    h1 {
      -webkit-text-stroke: 1px $primary;
    }
  }

  #nav-contact-btn {
    box-shadow: -2px -3px 16px 0px rgba($green1, 0.5),
      2px 5px 20px 0px rgba($pink2, 0.6), 0px 0 20px 0px rgba($primary, 0.8);

    &:hover &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      @include gradient-bg;
    }
  }

  &-collapse {
    &.show {
      background: $black;
    }
  }

  &-toggler {
    color: $primary;
    transition: $transition;

    &:focus {
      box-shadow: none !important;
    }
    &[aria-expanded='true'] i.fa-solid {
      font-weight: 400 !important;
    }
  }

  .social-wrapper {
    .nav-item {
      i,
      a {
        color: $primary;

        &:hover {
          color: $pink;
        }
      }
    }
  }
}

/*=====================
* HERO
=====================*/
.masthead {
  background: linear-gradient(0deg, $dark, rgba($black, 0.8));

  video {
    z-index: -1;
  }

  .title-wrapper {
    @include reflect();
  }

  .hero-title {
    color: $blue;
    max-width: 400px;
    font-size: 7rem;
    line-height: 0.9;
    line-height: 0.9;
    -webkit-text-stroke: 1px $lightblue;
    text-shadow: -6px -7px 50px rgba($lilac, 0.54),
      0px 3px 20px rgba($lightblue, 0.2), 0px 0px 20px rgba($green2, 0.56);
  }

  .code-block {
    min-height: 500px; /* fixed width and height for better animation */
    width: 75%;
  }

  pre,
  .btn-cta span {
    @include backdrop-bg();
  }
}

/*  Inspired by Carlos Ortega https://codepen.io/Carlos1162/pen/eJdLXa */
.btn {
  &-cta {
    max-width: 400px;
    overflow: hidden;

    span {
      z-index: 1;
    }

    span,
    .btn-border {
      transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &:hover,
    &:focus,
    &:active {
      background: rgba($primary, 0.5); /* bs override */

      span a {
        color: $white;
      }

      .btn-border {
        width: 120%;
        left: 110%;
      }
    }
  }

  &-border {
    left: 0%;
    width: 0;
    height: 100%;
    background: $lilac;
    transform: skewX(-20deg);
  }
}

/*=====================
* SECTIONS
=====================*/
.primary-content {
  position: relative;
  z-index: 1;
}

.big-text {
  @include gradient-bg($deg: -90deg);
  background-size: 200% auto;
  background-position: bottom;
  background-clip: text;
  -webkit-background-clip: text;
  color: $white;
  -webkit-text-fill-color: rgba($white, 0);
  text-transform: uppercase;
  letter-spacing: 15px;
  animation: gradient 10s ease infinite;
}

.section-title {
  &.big-text {
    @include reflect(0.35);
  }
}

/*=====================
* WORK
=====================*/
.work {
  background: linear-gradient(0deg, $dark-grey, $dark);

  .card {
    $c: &;
    min-height: 400px;
    @include backdrop-bg();

    &-body {
      z-index: 1;
    }
  }

  .hover-gradient {
    border-radius: inherit;
    inset: 0;
    opacity: 0;
    transition: all 0.5s;
    z-index: 0;

    &:before {
      content: '';
      position: absolute;
      filter: blur(50px);
      @include gradient-bg(repeating-linear-gradient, -15deg);
      background-position: 0%;
      background-size: 400%;
      transition: $transition;
    }

    &:before {
      width: 100%;
      height: 100%;
      opacity: 0.85;
      transform: scale(0.9);
      z-index: 0;
    }
  }

  &:after {
    z-index: -1;
  }
}

/*=====================
* ABOUT, SKILLS
=====================*/

.about {
  background: linear-gradient(180deg, $dark-grey, $dark);
}

/*=====================
* COUNTER
=====================*/
.counter {
  .card {
    &-title {
      @include gradient-bg($deg: 50deg);
      background-size: 150%;
      background-position: bottom;
      background-clip: text;
      -webkit-background-clip: text;
      color: $white;
      -webkit-text-fill-color: rgba($white, 0);
      -webkit-text-stroke: 1px rgba($primary, 0.5);
      animation: gradient 10s ease infinite;

      &:after {
        content: attr(data-purecounter-end);
        background-image: inherit;
        background-size: inherit;
        background-clip: inherit;
        -webkit-background-clip: inherit;
        -webkit-text-fill-color: inherit;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        filter: blur(25px);
        z-index: 0;
      }
    }
  }
}

/*=====================
* TESTIMONIALS
=====================*/
.carousel {
  &-thumbnail {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    .fa-img {
      span {
        &::before,
        &:after {
          content: '\f2fe';
          font-family: 'FontAwesome';
          font-size: 5rem;
          width: 100%;
          height: 100%;
          position: absolute;
          bottom: -7.5%;
          @include gradient-bg($deg: -15deg);
          background-size: 200%;
          background-position: left;
          background-clip: text;
          -webkit-background-clip: text;
          color: $white;
          -webkit-text-fill-color: transparent;
        }

        &:before {
          -webkit-text-stroke: 1px;
        }

        &:after {
          filter: blur(15px);
          transform: scale(1.05);
          z-index: 0;
        }
      }
    }
  }
  .testimonial {
    &-text {
      &:before,
      &:after {
        font-size: 0.5rem;
        font-family: 'FontAwesome';
        margin-top: -1rem;
        padding: 0 1rem;
      }
      &:before {
        content: '\f10d';
      }
      &:after {
        content: '\f10e';
      }
    }
  }
}

/*=====================
* FOOTER
=====================*/

/*=====================
* ANIMATION
=====================*/
.reveal {
  opacity: 0;
  transition: all 0.8s;

  &.inview {
    opacity: 1;
    transform: translate(0) scale(1) skew(0);
    transition-delay: 0.3s;
  }

  &-from-left {
    transform: translateX(-40px);
  }

  &-blurred-in {
    filter: blur(5px);
    transform: translateY(50px) scale(0.8) skew(5deg);

    &.inview {
      filter: blur(0);

      // through $n: attr('data-item-nr') doesn't want to work
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.1s;
        }
      }
    }
  }
}

/*=====================
* KEYFRAMES
=====================*/
@keyframes gradient {
  0% {
    background-position: center;
  }
  25% {
    background-position: left;
  }
  50% {
    background-position: 90%;
  }
  100% {
    background-position: center;
  }
}

/*=====================
* MEDIA
=====================*/
@media (any-hover: hover) {
  .work {
    .card {
      &:hover {
        box-shadow: 0px 3px 6px rgba($green1, 0.5),
          0px 8px 15px rgba($pink, 0.3), 0 0 0 1px rgba($primary, 0.3);
        transition: all 0.5s linear;

        .card {
          &-title {
            color: $black !important;
          }

          // &-links-wrapper {
          //   a.btn {
          //     border-color: $white !important;
          //     color: $white !important;

          //     &:hover,
          //     &:active,
          //     &:focus {
          //       background: $white;
          //       color: $black !important;
          //     }
          //   }
          // }
        }

        .hover-gradient {
          opacity: 1;
          transition-duration: 0.5s;
          transition-delay: 0s;

          &:before {
            transform: scale(1);
            animation: gradient 10s linear infinite;
          }
        }
      }
    }
  }
}

@media (any-hover: none) {
  .work {
    .card {
      .hover-gradient {
        overflow: hidden;
        opacity: 0.5;

        &::before {
          animation: gradient 10s linear infinite;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .navbar-expand-lg {
    .social-wrapper {
      transform: translateY(50vh) rotate(90deg);
      right: -2.5rem;
      position: fixed;
      z-index: 1030;
      transition: $transition;

      .nav-item i {
        transform: rotate(-90deg); /* reset rotation from the navbar */
      }
    }

    &::after {
      content: '\f111';
      font-family: 'FontAwesome';
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      width: 70px;
      height: 70px;
      position: relative;
      right: 0;
      top: 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .masthead {
    .title-wrapper {
      margin-bottom: 50%;
    }
  }

  .big-text-left {
    position: absolute;
    transform: translate(-46.5%, 100%) rotate(-90deg);
    bottom: 50%;
    white-space: nowrap;
  }
}

@media screen and (max-width: 991.999px) {
  main {
    padding-top: 100px; /* to place after fixed nav */
  }

  .navbar-collapse {
    .nav-item,
    button {
      width: fit-content;
    }
  }

  .masthead {
    .hero-title {
      font-size: 5rem;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    animation: none !important;
    transition-duration: 0.1s !important;
  }

  .reveal,
  .reveal2 {
    opacity: 1 !important;
    filter: none !important;
    transform: translate(0) scale(1) !important;
  }
}
