/*
* Bootstrap Portfolio
*
*
*/

/* VARIABLES */
$white: #fff3ff;
$white-rgb: 255, 243, 255;
$black: #010001;
$black-rgb: 1, 0, 1;
$dark: #17171a;
$dark-rgb: 23, 23, 26;

$d-blue: #013588;
$d-blue-rgb: 1, 53, 136;
$pink: #f6b3fb;
$pink-rgb: 246, 179, 251;
$pink2: #e072be;
$coral: #eb8494;
$lilac: #9596f7;
$lilac-rgb: 149, 150, 247;
$l-blue: #557fff;
$blue: #409cff;
$blue-rgb: 64, 156, 255;
$lightblue: #17baff;
$green1: #48ad9c;
$green1-rgb: 72, 173, 156;
$green2: #08a665;

/* bootstrap override */
// --bs-white: $white;
// --bs-black: $black;
// --bs-blue: $blue;
// --bs-white-rgb: $white-rgb;
// --bs-black-rgb: $black-rgb;
// --bs-dark: $dark;
// --bs-dark-rgb: $dark-rgb;

$transition: all 0.35s ease-in-out;

/* 
--blue1:  #1A64D7;
--blue2:  #3764D9;
--blue3:  #00DAFF;
--blue4:  #50A5F6;
--blue5:  #5183E1;
--blue6:  #729afa;
--blue7:  #409CFF;
--blue8:  #1E36AD;
--blue9:  #012A8B; 
*/

/* Beige portfolio palette */

/* --white:    #F0F0F4;
--light:    rgb(225, 207, 207);
--beige:    rgb(128, 115, 116);
--medium:   rgb(95, 77, 81);
--dark:     rgb(38, 12, 12);
--accent:   rgb(161, 128, 131);
--accent-rgb: 161, 128, 131;
--dark-rgb:   38, 12, 12; */

$body-font: "JetBrains", mono;
/* --display-font: "Druzhok", display; */
$display-font: "Gerbil", display;

// This doesn't want to work???
// $enable-grid-classes: false;
// $enable-cssgrid: true;

/* General */
body {
  color: $white;
  background: $black;
  font-family: $body-font;
}

.accent-font {
  font-family: $display-font;
}

main .container-fluid {
  max-width: 1920px;
}

section {
  position: relative;
}

.big-text {
  background: linear-gradient(
    -90deg,
    $pink,
    $pink2,
    $coral,
    $lilac,
    $l-blue,
    $blue,
    $lightblue,
    $green1,
    $green2
  );
  background-size: 200% auto;
  background-position: bottom;
  background-clip: text;
  -webkit-background-clip: text;
  color: $white;
  -webkit-text-fill-color: rgba($white-rgb, 0);
  text-transform: uppercase;
  letter-spacing: 15px;
  animation: gradient 10s ease infinite;
}

/* https://css-tricks.com/keyboard-only-focus-styles/ */
.btn-cta:focus-visible,
.navbar-toggler:focus-visible {
  outline: 1px solid $white !important;
}

/*=====================
* NAV
=====================*/
nav {
  background: rgba($black-rgb, 0.9);
  transform: 0;
  transition: $transition;

  &.is-up {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.nav-item a,
.navbar-toggler span {
  color: $blue;
  letter-spacing: 5px;
}

.nav-link {
  &.active,
  &:hover,
  &:focus,
  &:active {
    color: $green1 !important;
  }
}

.navbar {
  &-brand {
    padding-left: 0.75rem; /* to align it with the .big-text-left */
  }

  &-toggler {
    color: $blue;
    transition: $transition;

    &:focus {
      box-shadow: none !important;
    }
    &[aria-expanded="true"] i.fa-solid {
      font-weight: 400 !important;
    }

    .social-wrapper {
      .navbar-nav i {
        color: $blue;

        &:hover {
          color: $pink;
        }
      }
    }
  }
}

/*=====================
* HERO
=====================*/
.masthead {
  background: linear-gradient(0deg, rgb(23, 23, 26), rgba($black-rgb, 0.78));

  video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .title-wrapper {
    -webkit-box-reflect: below 1px
      linear-gradient(transparent, rgba($black-rgb, 0.15));
  }

  .hero-title {
    color: $blue;
    max-width: 400px;
    font-size: 7rem;
    line-height: 0.9;
  }

  .code-block {
    min-height: 500px; /* fixed width and height for better animation */
  }

  pre,
  .btn-cta span {
    backdrop-filter: blur(5px);
    position: relative;
    border: 2px solid;
    border-top-color: rgba($lilac-rgb, 0.15);
    border-left-color: rgba($blue-rgb, 0.15);
    border-bottom-color: rgba($blue-rgb, 0.05);
    border-right-color: transparent;
  }
}

/*  Inspired by Carlos Ortega https://codepen.io/Carlos1162/pen/eJdLXa */
.btn {
  &-cta {
    max-width: 400px;
    padding: 1.5rem 0.45rem !important;
    border-radius: 0 !important;
    color: $blue;
    background: rgba($blue-rgb, 0.5);
    text-transform: lowercase;
    position: relative;
    overflow: hidden;

    span {
      position: relative;
      width: 100%;
      padding: 1rem 2rem;
      background: $black;
      z-index: 1;
    }

    span,
    .btn-border {
      transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &:hover,
    &:focus,
    &:active {
      background: rgba($blue-rgb, 0.5); /* bs override */

      span {
        color: $white;
      }

      .btn-border {
        width: 120%;
        left: 110%;
      }
    }
  }

  &-border {
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 100%;
    background: $lightblue;
    transform: skewX(-20deg);
  }
}

/* SECTIONS */
.section-title {
  .big-text {
    -webkit-box-reflect: below 1px
      linear-gradient(transparent, rgba($black-rgb, 0.35));

    h2 {
      line-height: 1;
      word-break: break-all;
      white-space: normal;
    }
  }
}

/*=====================
* WORK
=====================*/
.work {
  background: linear-gradient(0deg, rgba(40, 40, 43), rgb(23, 23, 26));

  .card {
    min-height: 400px;
    background: $black;
    border: 2px solid;
    border-top-color: rgba($lilac-rgb, 0.15);
    border-left-color: rgba($blue-rgb, 0.15);
    border-bottom-color: rgba($blue-rgb, 0.05);
    border-right-color: transparent;
    position: relative;

    &-body {
      z-index: 1;
    }

    .bg-gradient {
      border-radius: inherit;
      position: absolute;
      inset: 0;
      z-index: 1;
      overflow: hidden;
      opacity: 0;
      transition: all 0.5s;
      z-index: 0;

      &:before {
        content: "";
        width: 150%;
        padding-bottom: 150%;
        position: absolute;
        filter: blur(25px);
        opacity: 0.85;
        transform: translateX(-50%);
        background-image: repeating-linear-gradient(
          15deg,
          $pink,
          $pink2,
          $coral,
          $lilac,
          $l-blue,
          $blue,
          $lightblue,
          $green1,
          $green2
        );
        background-position: 0%;
        background-size: 400%;
        transition: $transition;
        z-index: 0;
      }
    }

    &:hover {
      box-shadow: 0px 3px 6px rgba($green1-rgb, 0.5),
        0px 8px 15px rgba($pink-rgb, 0.3), 0 0 0 1px rgba($blue-rgb, 0.3);
      color: $black !important;

      .bg-gradient {
        opacity: 1;
        transition-duration: 0.5s;
        transition-delay: 0s;

        &:before {
          transform: translate(0);
          animation: gradient 10s linear infinite;
        }
      }
    }
  }
}

/*=====================
* ABOUT, SKILLS
=====================*/
.about {
  background: linear-gradient(0deg, rgb(23, 23, 26), rgba(40, 40, 43));
}

/*=====================
* TESTIMONIALS
=====================*/
.skills,
.testimonials,
footer {
  background: $dark;
}

/*=====================
* FOOTER
=====================*/

/*=====================
* ANIMATION
=====================*/

@keyframes gradient {
  0% {
    background-position: center;
  }
  25% {
    background-position: left;
  }
  50% {
    background-position: 90%;
  }
  100% {
    background-position: center;
  }
}

/*=====================
* MEDIA
=====================*/

@media (any-hover: hover) {
}

@media screen and (min-width: 1200px) {
  .navbar-expand-lg {
    .social-wrapper {
      transform: translateY(50vh) rotate(90deg);
      right: -2.5rem;
      position: fixed;
      z-index: 1030;
      transition: $transition;

      .nav-item i {
        transform: rotate(-90deg); /* reset rotation from the navbar */
      }
    }

    &::after {
      content: "\f111";
      font-family: "FontAwesome";
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      width: 70px;
      height: 70px;
      position: relative;
      right: 0;
      top: 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .big-text-left {
    position: absolute;
    transform: translate(-46.5%, 100%) rotate(-90deg);
    bottom: 50%;
    white-space: nowrap;
  }
}

@media screen and (max-width: 991.999px) {
  main {
    padding-top: 100px; /* to place after fixed nav */
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition-duration: 0.1s !important;
  }
}
