/*
* Bootstrap Portfolio
*
*/

@import "var/variables.scss";

/* General */
body {
  color: $white;
  background: $black;
  font-family: $body-font;
}

.accent-font {
  font-family: $display-font;
}

main .container-fluid {
  max-width: 1920px;
}

section {
  position: relative;
}

.big-text {
  background: linear-gradient(
    -90deg,
    $pink,
    $pink2,
    $coral,
    $lilac,
    $l-blue,
    $blue,
    $lightblue,
    $green1,
    $green2
  );
  background-size: 200% auto;
  background-position: bottom;
  background-clip: text;
  -webkit-background-clip: text;
  color: $white;
  -webkit-text-fill-color: rgba($white, 0);
  text-transform: uppercase;
  letter-spacing: 15px;
  animation: gradient 10s ease infinite;
}

/* https://css-tricks.com/keyboard-only-focus-styles/ */
.btn-cta:focus-visible,
.navbar-toggler:focus-visible {
  outline: 1px solid $white !important;
}

/*=====================
* NAV
=====================*/
nav {
  background: rgba($black, 0.9);
  transform: 0;
  transition: $transition;

  &.is-up {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.nav-item a,
.navbar-toggler span {
  color: $blue;
  letter-spacing: 5px;
}

.nav-link {
  &.active,
  &:hover,
  &:focus,
  &:active {
    color: $white !important;
  }
}

.navbar {
  &-brand {
    padding-left: 0.75rem; /* to align it with the .big-text-left */
  }

  &-toggler {
    color: $blue;
    transition: $transition;

    &:focus {
      box-shadow: none !important;
    }
    &[aria-expanded="true"] i.fa-solid {
      font-weight: 400 !important;
    }

    .social-wrapper {
      .navbar-nav i {
        color: $blue;

        &:hover {
          color: $pink;
        }
      }
    }
  }
}

/*=====================
* HERO
=====================*/
.masthead {
  background: linear-gradient(0deg, rgb(23, 23, 26), rgba($black, 0.78));

  video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .title-wrapper {
    -webkit-box-reflect: below 1px
      linear-gradient(transparent, rgba($black, 0.15));
  }

  .hero-title {
    color: $blue;
    max-width: 400px;
    font-size: 7rem;
    line-height: 0.9;
  }

  .code-block {
    min-height: 500px; /* fixed width and height for better animation */
  }

  pre,
  .btn-cta span {
    backdrop-filter: blur(5px);
    position: relative;
    border: 2px solid;
    border-top-color: rgba($lilac, 0.15);
    border-left-color: rgba($blue, 0.15);
    border-bottom-color: rgba($blue, 0.05);
    border-right-color: transparent;
  }
}

/*  Inspired by Carlos Ortega https://codepen.io/Carlos1162/pen/eJdLXa */
.btn {
  &-cta {
    max-width: 400px;
    padding: 1.5rem 0.45rem !important;
    border-radius: 0 !important;
    color: $blue;
    background: rgba($blue, 0.5);
    text-transform: lowercase;
    position: relative;
    overflow: hidden;

    span {
      position: relative;
      width: 100%;
      padding: 1rem 2rem;
      background: $black;
      z-index: 1;
    }

    span,
    .btn-border {
      transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &:hover,
    &:focus,
    &:active {
      background: rgba($blue, 0.5); /* bs override */

      span {
        color: $white;
      }

      .btn-border {
        width: 120%;
        left: 110%;
      }
    }
  }

  &-border {
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 100%;
    background: $lightblue;
    transform: skewX(-20deg);
  }
}

/* SECTIONS */
.section-title {
  &.big-text {
    -webkit-box-reflect: below 1px
      linear-gradient(transparent, rgba($black, 0.35));

    h2 {
      line-height: 1;
      word-break: break-all;
      white-space: normal;
    }
  }
}

/*=====================
* WORK
=====================*/
.work {
  background: linear-gradient(0deg, rgba(40, 40, 43), rgb(23, 23, 26));

  .card {
    min-height: 400px;
    background: $black;
    border: 2px solid;
    border-top-color: rgba($lilac, 0.15);
    border-left-color: rgba($blue, 0.15);
    border-bottom-color: rgba($blue, 0.05);
    border-right-color: transparent;
    position: relative;

    &-body {
      z-index: 1;
    }

    .bg-gradient {
      border-radius: inherit;
      position: absolute;
      inset: 0;
      z-index: 1;
      overflow: hidden;
      opacity: 0;
      transition: all 0.5s;
      z-index: 0;

      &:before {
        content: "";
        width: 150%;
        padding-bottom: 150%;
        position: absolute;
        filter: blur(25px);
        opacity: 0.85;
        transform: translateX(-50%);
        background-image: repeating-linear-gradient(
          15deg,
          $pink,
          $pink2,
          $coral,
          $lilac,
          $l-blue,
          $blue,
          $lightblue,
          $green1,
          $green2
        );
        background-position: 0%;
        background-size: 400%;
        transition: $transition;
        z-index: 0;
      }
    }

    &:hover {
      box-shadow: 0px 3px 6px rgba($green1, 0.5), 0px 8px 15px rgba($pink, 0.3),
        0 0 0 1px rgba($blue, 0.3);
      color: $black !important;

      .bg-gradient {
        opacity: 1;
        transition-duration: 0.5s;
        transition-delay: 0s;

        &:before {
          transform: translate(0);
          animation: gradient 10s linear infinite;
        }
      }
    }
  }
}

/*=====================
* ABOUT, SKILLS
=====================*/
.about {
  background: linear-gradient(0deg, rgb(23, 23, 26), rgb(40, 40, 43));
}

/*=====================
* TESTIMONIALS
=====================*/
.skills,
.testimonials,
footer {
  background: $dark;
}

/*=====================
* FOOTER
=====================*/

/*=====================
* ANIMATION
=====================*/

@keyframes gradient {
  0% {
    background-position: center;
  }
  25% {
    background-position: left;
  }
  50% {
    background-position: 90%;
  }
  100% {
    background-position: center;
  }
}

/*=====================
* MEDIA
=====================*/

@media (any-hover: hover) {
}

@media screen and (min-width: 1200px) {
  .navbar-expand-lg {
    .social-wrapper {
      transform: translateY(50vh) rotate(90deg);
      right: -2.5rem;
      position: fixed;
      z-index: 1030;
      transition: $transition;

      .nav-item i {
        transform: rotate(-90deg); /* reset rotation from the navbar */
      }
    }

    &::after {
      content: "\f111";
      font-family: "FontAwesome";
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      width: 70px;
      height: 70px;
      position: relative;
      right: 0;
      top: 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .big-text-left {
    position: absolute;
    transform: translate(-46.5%, 100%) rotate(-90deg);
    bottom: 50%;
    white-space: nowrap;
  }
}

@media screen and (max-width: 991.999px) {
  main {
    padding-top: 100px; /* to place after fixed nav */
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition-duration: 0.1s !important;
  }
}
